<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pizza App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button color="secondary" expand="block" (click)="goNav()">My Orders</ion-button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Quantity: {{ quantity }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">1</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">2</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">3</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">4</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">5</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">6</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">7</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">8</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">9</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8"><ion-button color="danger" expand="block"  (click)="reset()">RESET</ion-button></ion-col>
      <ion-col><ion-button color="medium" expand="block" (click)="onNumberClick($event)">0</ion-button></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Topping</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="topping">
              <ion-select-option value="brown" *ngFor="let topping of toppings" [value]="topping">{{ topping }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Size</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="size">
              <ion-select-option value="brown" *ngFor="let size of sizes" [value]="size">{{ size }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col><ion-button color="success" expand="block" (click)="addOrder()">Add Order</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
